.unit-article {
    @include a-hover();

    .entry-title {
        letter-spacing: 4px;
    }

    a {
        margin: 0;
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .img-404 {
        width: 650px;
        height: 400px;
        margin-top: 30px;
    }

    ul {
        li {
            list-style: disc;
        }

        li li {
            list-style: circle;
        }

        li li li {
            list-style: square;
        }
    }

    ol {
        list-style: decimal;
    }

    dl, ol, ul {
        line-height: 2em;
        padding-left: 1.5em;
    }

    table {
        display: table;
        margin: 0;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0 0 0.24rem var(--table-box-shadow-color);

        td, th {
            padding: 0.5rem 0.7rem;
            border: 1px solid var(--table-border-color);
            word-break: break-all;
            word-wrap: break-word;
            white-space: pre-wrap;
            font-weight: normal;
        }

        th {
            font-weight: bold;
            color: var(--table-thead-color);
        }
    }

    code, kbd, pre, samp {
        font-family: var(--fonts-code);
        line-height: 1.6;
    }

    code.highlighter-rouge {
        padding: 4px 8px;
        font-size: 0.8em;
        font-weight: bold;
        border-radius: 5px;
        color: var(--highlighter-rouge-color);
        font-family: var(--fonts-code);
        background-color: var(--highlighter-rouge-bg-color);
        word-break: break-all;
    }

    figure.highlight, div.highlight {
        box-shadow: 0 0 .24rem var(--highlight-box-shadow-color);
        overflow-x: auto;
        white-space: nowrap;
        margin: 15px 0 15px 0;

        pre {
            margin: 0;

            code {
                white-space: pre;
                color: var(--text-color);
            }

            table {
                box-shadow: none;

                tr {
                    &:hover {
                        background-color: transparent;
                    }
                }

                td {
                    border: none;
                }

                .gl {
                    width: 4%;
                    min-width: 30px;
                    border-right: 1px solid var(--table-gl-color);
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                pre {
                    padding: 0;

                    &.lineno {
                        color: var(--lineno-color);
                        text-align: center;
                    }
                }
            }
        }
    }

    blockquote {
        padding: 0.5rem 0.75rem;
        margin: 1rem 0 1.25rem 0;
        background: transparent;
        box-shadow: 0 0 0.24rem var(--blockquote-box-shadow-color);
        border-left: 4px solid var(--blockquote-border-left-color);
        transition: var(--transition-delay);

        p {
            margin: 0;
            text-indent: 0;
            line-height: 2em;
            text-shadow: none;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        dl, ol, ul {
            margin: 0;
            line-height: 2em;
        }

        .task-list .task-list-item {
            p:nth-child(n + 2) {
                text-indent: 1.6em;
            }
        }
    }

    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #markdown-toc {
        display: inline-block;
        min-width: 250px;
        margin: 25px 0 10px 0;
        padding: 12px 24px;
        text-align: left;
        border: 1px dashed var(--markdown-toc-border-color);

        li, ol, ul {
            margin-left: .8em;
            padding-left: 0;
        }
    }

    .categories-tags-box {
        margin: 20px 0;
        padding: 10px;
        border: dashed 1px var(--categories-tags-box-border-color);
        border-radius: 4px;
        @include categories-tags();
    }

    &.layout-page {
        .year-month {
            margin-top: 10px;
        }

        .archives-wrap {
            margin: 30px 0;
            padding: 10px 20px;
            background: transparent;
            box-shadow: 0 0 0.24rem var(--archives-wrap-box-shadow-color);
            transition: var(--transition-delay);
        }

        .post-list {
            margin: 0;
            padding: 0 0 0 1.05em;
            list-style-type: disc;

            li {
                margin-top: 8px;
                margin-bottom: 8px;
                margin-left: 6px;

                a {
                    font-size: 1em;
                    border-bottom: none;
                }

                .date {
                    float: right;
                }
            }
        }

        .top li {
            list-style-type: "🔥 ";
        }

        ul li {
            list-style-type: "🍊 ";
        }
    }

    &.layout-post {
        .post-copyright {
            margin-top: 20px;
            padding: 10px 16px;
            box-shadow: 0 0 .24rem var(--post-copyright-box-shadow-color);
            border-left: 4px solid var(--post-copyright-border-left-color);
            transition: var(--transition-delay);

            .post-copyright-author, .post-copyright-type, .post-copyright-notice {
                margin: 12px 0;
            }

            .post-copyright-meta {
                color: var(--post-copyright-meta-color);
                font-weight: bold;
            }

            a {
                color: var(--post-copyright-content-color);

                &:hover {
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    color: var(--text-hover-color);
                }
            }
        }

        .article-icon {
            margin: 0 8px 0 0;
        }

        .meta {
            margin-top: 15px;
            border-bottom: 3px solid var(--text-color);

            .date-publish {
                button {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }

            .list-category {
                margin: 5px 0 5px 0;
            }

            .list-tag {
                margin: 5px 0 10px 0;
            }

            .list-linear {
                padding-left: 0;
                list-style: none;

                .list-head {
                    display: inline-block;
                    margin: 0 8px 0 0;
                }

                @include categories-tags();
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .unit-head {
        border-bottom: 5px solid var(--text-color);

        h1 {
            margin-top: 0;
            margin-bottom: 8px;
            border-bottom: none;
        }
    }

    .unit-foot {
        top: auto;
        margin-top: 26px;
        padding-top: 12px;
        border-top: 3px solid var(--text-color);

        nav {
            display: block;

            .prev, .next {
                padding: 0 16px;
                position: relative;
                display: inline-block;
                height: 2.5em;
                line-height: 2.5em;
                text-align: center;
                color: var(--text-color);
                transition: var(--transition-delay);

                .line {
                    position: absolute;
                    transition: var(--transition-delay);
                    background: var(--text-hover-color);

                    &.line-top {
                        width: 0;
                        height: 1px;
                        left: -110%;
                        top: -1px;
                    }

                    &.line-right {
                        width: 1px;
                        height: 0;
                        right: -1px;
                        top: -110%;
                    }

                    &.line-bottom {
                        width: 1px;
                        height: 0;
                        left: -1px;
                        bottom: -110%;
                    }

                    &.line-left {
                        width: 0;
                        height: 1px;
                        bottom: -1px;
                        right: -110%;
                    }
                }

                &:hover {
                    transition: var(--transition-delay);

                    .line-top {
                        width: 100%;
                        left: 0;
                    }

                    .line-right {
                        height: 100%;
                        top: 0;
                    }

                    .line-bottom {
                        height: 100%;
                        bottom: 0;
                    }

                    .line-left {
                        width: 100%;
                        right: 0;
                    }

                    a {
                        transition: var(--transition-delay);
                        color: var(--text-hover-color);
                    }
                }
            }

            .prev {
                float: left;
            }

            .next {
                float: right;
            }
        }
    }

    .leetcode-difficulty-easy-color {
        color: var(--leetcode-difficulty-easy-color);
    }

    .leetcode-difficulty-medium-color {
        color: var(--leetcode-difficulty-medium-color);
    }

    .leetcode-difficulty-hard-color {
        color: var(--leetcode-difficulty-hard-color);
    }

    .leetcode-level-s-font-color {
        color: var(--leetcode-level-s-font-color);
        font-weight: bold;
    }

    .leetcode-level-a-font-color {
        color: var(--leetcode-level-a-font-color);
        font-weight: bold;
    }

    .leetcode-level-b-font-color {
        color: var(--leetcode-level-b-font-color);
        font-weight: bold;
    }

    .leetcode-level-c-font-color {
        color: var(--leetcode-level-c-font-color);
    }
}

.sidebar {
    @include a-hover();
    display: none;
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    background: var(--sidebar-bg-color);
    transition: var(--transition-delay);

    a {
        margin: 0;
        padding: 0;
    }

    ul {
        li {
            list-style: disc;
        }

        li li {
            list-style: circle;
        }

        li li li {
            list-style: square;
        }
    }

    ol {
        list-style: decimal;
    }

    dl, ol, ul {
        line-height: 2em;
        padding-left: 1.5em;
    }

    .sidebar-toc {
        position: absolute;
        left: 0;
        padding: 0 16px;
        margin: 0 auto;
        width: calc(var(--sidebar-width) - 32px);
        height: calc(100% - 32px);

        .sidebar-toc-title {
            padding: 8px 0;
            text-align: center;
            font-size: 20px;
            border-bottom: 1px dashed var(--sidebar-toc-title-border-color);
        }

        #sidebar-toc-content {
            overflow-x: hidden;
            overflow-y: auto;
            padding-left: 0.3em;
            height: calc(100% - 64px);
            background: url("#{$baseurl}/assets/images/theme/glasses.svg") center bottom no-repeat;
            background-size: calc(var(--sidebar-width) - 200px) 100px;

            li, ol, ul {
                margin-left: 0.8em;
                padding-left: 0;
            }

            &::-webkit-scrollbar-track {
                background: transparent !important;
            }

            &::-webkit-scrollbar-thumb:vertical {
                background-color: var(--scrollbar-vertical-bg-color);
            }
        }

        #sidebar-toc-content li a {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}