.site-notice {
    font-size: 1.125em;
    line-height: 2.25em;
    width: 100%;
    text-align: center;
    color: var(--site-notice-color);
    background: var(--site-notice-bg-color);
    box-shadow: 0 0 .24rem var(--site-notice-box-shadow-color);
    @include a-hover();
}

body.nav-overlay, body.search-overlay {
    overflow: hidden;

    &:after {
        position: fixed;
        z-index: 9001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        content: "";
        background-color: var(--overlay-after-bg-color);
    }
}

.overlay-wrapper {
    position: absolute;
    top: 50px;
    display: none;
    zoom: 1;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
}

.overlay-form {
    position: relative;
    z-index: 9002;
    top: 0;
    width: 100%;
    opacity: 0;

    &.active {
        top: 0;
        left: 0;
        opacity: 1;
    }

    a, h1, h2, h3, h4, li, ol, dl, p, span, button, input {
        color: var(--text-color);
    }

    .overlay-header {
        border: none;
        border-bottom: 1px solid var(--text-color);
        background-color: transparent;
    }

    #search-input {
        width: calc(100% - 4px);
        height: 42px;
        font-size: 16px;
        border: 2px solid var(--text-color);
        outline: none;
        transition: .3s linear;
        margin: 0;
        padding: 0;
        text-indent: 15px;
        vertical-align: middle;
        border-radius: 20px;
    }

    .menu {
        display: block;
        height: 42px;
        line-height: 42px;
        text-align: center;
    }

    .btn-close {
        position: absolute;
        z-index: 1;
        display: inline-block;
        text-align: center;
        height: 42px;
        line-height: 42px;
        font-weight: bold;
        background: none;
        border: none;
        top: 2px;
        right: 15px;

        &:hover {
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
    }

    #results-container, .results {
        position: absolute;
        width: calc(100% - 8px);
        margin: 0;
        padding: 10px 0 0 8px;
        outline: 0;
        text-shadow: none;

        .entry-date {
            display: none;
            float: right;
        }

        li {
            padding: 3px;
            line-height: 2.25em;

            &:hover {
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                border: 1px dashed var(--text-color);
            }
        }
    }
}

.nav-form .results {
    width: 100%;
    margin: 0;
    padding: 0;

    ul {
        padding: 0;

        li {
            list-style: none;

            a {
                display: block;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
            }
        }
    }
}