@import "variables";

#page:after, #page:before, .categories-tags-box:after, .categories-tags-box:before, .unit-inner:after, .unit-inner:before {
    display: table;
    content: "";
}

#page:after, .categories-tags-box:after, .unit-inner:after {
    clear: both;
}

input:focus {
    outline: 0;
    box-shadow: none;
}

input::-ms-clear, input::-webkit-search-cancel-button, input::-webkit-search-decoration, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
    display: none;
}

// 滚动条样式
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--universe-bg);
}

::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: var(--scrollbar-horizontal-bg-color);
}

::-webkit-scrollbar-thumb:vertical {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: var(--scrollbar-vertical-bg-color);
}

// 复选框样式
input[type="checkbox"] {
    display: none;
}

.checkbox-icon {
    margin-right: 8px;
}

.checkbox-checked {
    color: var(--checkbox-checked-color);
}

// 文本选中背景颜色
::selection {
    background: var(--selection-bg-color) !important;
    color: var(--selection-font-color) !important;
}

::-moz-selection {
    background: var(--selection-bg-color) !important;
    color: var(--selection-font-color) !important;
}

::-ms-selection {
    background: var(--selection-bg-color) !important;
    color: var(--selection-font-color) !important;
}

::-webkit-selection {
    background: var(--selection-bg-color) !important;
    color: var(--selection-font-color) !important;
}

// 其他公共样式
.left {
    float: left;
    *display: inline;
}

.right {
    float: right;
    *display: inline;
}

.hidden {
    display: none;
}

.left-spacing {
    padding-left: 4px;
}

pre {
    tab-size: 4;
    -moz-tab-size: 4;
}

hr {
    -moz-box-sizing: content-box;
    height: 1px;
    border: none;
    border-top: 1px dashed var(--hr-border-top-color);
}

.header-fonts {
    font-family: var(--blog-header-fonts);
    color: var(--blog-header-color);
    margin-top: 10px;
}

@mixin a-hover() {
    a {
        margin: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: var(--text-color);
        cursor: pointer;
        position: relative;
        transition: var(--transition-delay);

        &:hover {
            color: var(--text-hover-color);
            -webkit-transition: var(--transition-delay);
            -moz-transition: var(--transition-delay);
            -o-transition: var(--transition-delay);
            transition: var(--transition-delay);

            &:after {
                width: 100%;
                -webkit-transition: var(--transition-delay);
                -moz-transition: var(--transition-delay);
                -o-transition: var(--transition-delay);
                transition: var(--transition-delay);
            }
        }
    }
}

a:hover, a:link, a:visited {
    text-decoration: none;
}

b, strong {
    color: var(--bold-color) !important;

    a {
        color: var(--bold-color) !important;
    }
}

@mixin categories-tags() {
    div {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;

        a {
            button {
                span {
                    padding: 1px 5px;
                    border-radius: 20px;
                    background-color: var(--categories-tags-bg-color);
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.task-list {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;

    .task-list-item {
        list-style-type: none;

        input {
            margin-right: 8px;
            vertical-align: middle;
            height: 2em;
        }
    }
}