$baseurl: "/blog" !default;
$cdn-jsdelivr-enabled: false !default;
$cdn-jsdelivr-gh-pages: "https://cdn.jsdelivr.net/gh/hgnulb/blog@gh-pages" !default;
$pygments-css-style: "pygments" !default;
$cdn-animate-css-version: "4.1.1" !default;
$cdn-normalize-version: "8.0.1" !default;
$cdn-font-awesome-version: "6.2.0" !default;
@if $cdn-jsdelivr-enabled {
    $baseurl: $cdn-jsdelivr-gh-pages;
}

:root {
    // 红色
    --color-red-a: #ff6464;
    --color-red-b: #ed5843;
    // 橙色
    --color-orange-a: #e67700;
    --color-orange-b: #fe7a16;
    --color-orange-c: #ff9800;
    // 黄色
    --color-yellow-a: #fae43d;
    --color-yellow-b: #b4db3b;
    --color-yellow-c: #ffcc66;
    // 蓝色
    --color-blue-a: #49b1f5;
    --color-blue-b: #00b6b7;
    // 绿色
    --color-green-a: #00df4d;
    --color-green-b: #00d26a;
    --color-green-c: #339966;
    // 白色
    --color-white-a: #ffffff;
    // 黑色
    --color-black-a: rgba(0, 0, 0, 0.5);
    --color-black-b: #150e1f;
    --color-black-c: rgba(25, 25, 25, 0.95);
    --color-black-d: #181717;
    // 灰色
    --color-grey-a: rgba(255, 255, 255, 0);
    --color-grey-b: rgba(255, 255, 255, 0.1);
    --color-grey-c: rgba(255, 255, 255, 0.5);
    // 棕色
    --color-brown-a: #624c3f;
    // 字体
    --home-body-fonts: "Junge Regular", "Times New Roman", Georgia, serif;
    --blog-header-fonts: "Font Awesome 6 Free Regular", "Microsoft YaHei", sans-serif, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --blog-body-fonts: "Microsoft YaHei", sans-serif, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --fonts-code: "Consolas", "Courier New", Monaco, "Lucida Console", monospace;
    // 通用
    --text-color: var(--color-white-a);
    --unit-body-margin-left-right: 1%;
    --unit-body-bg-color: transparent;
    --universe-bg: radial-gradient(1600px at 70% 120%, #212750 10%, #020409 100%);
    --transition-delay: all 0.5s;
    // 代码高亮
    --lineno-color: var(--color-grey-c);
    --table-gl-color: var(--color-grey-b);
    --highlight-box-shadow-color: var(--color-grey-c);
    --highlighter-rouge-color: var(--color-yellow-b);
    --highlighter-rouge-bg-color: var(--color-grey-b);
    // 表格
    --table-thead-color: var(--color-green-a);
    --table-border-color: var(--color-grey-b);
    --table-box-shadow-color: var(--color-grey-c);
    --table-hover-bg-color: var(--color-grey-b);
    // 分类和标签
    --categories-tags-bg-color: var(--color-grey-b);
    --categories-tags-box-border-color: var(--color-grey-c);
    --archives-wrap-box-shadow-color: var(--color-grey-c);
    --button-bg-color: var(--color-grey-b);
    --button-before-bg-color: linear-gradient(to left, var(--color-grey-a), var(--color-grey-c), var(--color-grey-a));
    // 引用
    --blockquote-border-left-color: var(--color-yellow-b);
    --blockquote-box-shadow-color: var(--color-grey-c);
    // 目录
    --sidebar-width: 450px;
    --sidebar-toc-title-border-color: var(--color-grey-c);
    --sidebar-bg-color: var(--color-grey-b);
    --markdown-toc-border-color: var(--color-grey-c);
    // 标题
    --blog-header-color: var(--color-white-a);
    --heading-border-bottom-color: var(--color-grey-c);
    --hr-border-top-color: var(--color-grey-c);
    // 搜索框
    --overlay-after-bg-color: var(--color-black-c);
    // 鼠标悬浮
    --text-hover-color: var(--color-orange-a);
    // 粗体
    --bold-color: var(--color-green-a);
    // 复选框
    --checkbox-checked-color: var(--color-yellow-b);
    // 滚动条
    --scrollbar-vertical-bg-color: var(--color-grey-b);
    --scrollbar-horizontal-bg-color: var(--color-grey-c);
    // 顶部进度条
    --pace-color: var(--color-blue-a);
    // 文本选中
    --selection-bg-color: var(--color-blue-b);
    --selection-font-color: var(--color-white-a);
    // 打字特效
    --typed-wrap-color: var(--color-yellow-b);
    // 返回顶部
    --back-to-top-color: var(--color-grey-b);
    // 文章版权
    --post-copyright-border-left-color: var(--color-red-a);
    --post-copyright-box-shadow-color: var(--color-grey-c);
    --post-copyright-meta-color: var(--color-orange-a);
    --post-copyright-content-color: var(--color-blue-a);
    // 首页按钮
    --btn-light-bg-color: var(--color-grey-b);
    --btn-dark-bg-color: var(--color-black-a);
    --btn-border-color: var(--color-black-b);
    // 网站通知
    --site-notice-color: var(--color-orange-a);
    --site-notice-bg-color: var(--color-grey-b);
    --site-notice-box-shadow-color: var(--color-grey-c);
    // 社交图标
    --gmail-bg-color: var(--color-red-b);
    --github-bg-color: var(--color-black-d);
    --douban-bg-color: var(--color-brown-a);
    --stackoverflow-bg-color: var(--color-orange-b);
    --nowcoder-bg-color: var(--color-grey-b);
    --leetcode-bg-color: var(--color-white-a);
    // LeetCode
    --leetcode-difficulty-easy-color: var(--color-green-a);
    --leetcode-difficulty-medium-color: var(--color-yellow-a);
    --leetcode-difficulty-hard-color: var(--color-red-a);
    // 文章难度等级
    --leetcode-level-s-font-color: var(--color-red-a);
    --leetcode-level-a-font-color: var(--color-yellow-c);
    --leetcode-level-b-font-color: var(--color-green-b);
    --leetcode-level-c-font-color: var(--color-grey-c);
}

.light:root {
    --unit-body-bg-color: var(--color-grey-b);
}