@import "hgnulb/common/variables";
@import "hgnulb/common/normalize";
@import "hgnulb/common/animate";
@import "hgnulb/common/fonts";
@import "hgnulb/common/helper";
@import "hgnulb/common/highlight";
@import "hgnulb/common/pace";

html, body {
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: var(--blog-body-fonts);
    font-size: 16px;
    line-height: 1.625;
    color: var(--text-color);
    word-wrap: break-word;
    height: 100%;
    cursor: url("#{$baseurl}/assets/images/theme/default.cur"), auto !important;
}

#universe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--universe-bg);
    z-index: -1;
}

.body .unit-body {
    padding: 20px;
    margin-left: var(--unit-body-margin-left-right);
    margin-right: var(--unit-body-margin-left-right);
    background: var(--unit-body-bg-color);
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
}

.h1, .h2, .h3, h1, h2, h3 {
    padding-bottom: .3em;
    border-bottom: 1px dashed var(--heading-border-bottom-color);
}

.h1, h1 {
    font-size: 1.725em;
}

.h2, h2 {
    font-size: 1.575em;
}

.h3, h3 {
    font-size: 1.325em;
}

.h4, h4 {
    font-size: 1em;
}

.title-icon {
    margin: 0 8px 0 0;
}

.small, aside, small {
    font-size: .75em;
}

a, .button, button {
    cursor: url("#{$baseurl}/assets/images/theme/pointer.cur"), auto !important;
}

.button, button {
    outline: none !important;
    border: none;
    line-height: 1.45em;
    display: inline-block;
    padding: 4px 8px;
    white-space: nowrap;
    color: var(--text-color);
    border-radius: 4px;
    background: var(--button-bg-color);
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover, &:link, &:visited {
        outline: none !important;

        &::before {
            left: 100%;
            top: -20px;
            transform: rotateZ(0deg);
            transition: all 0.5s;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: -50px;
        top: -20px;
        width: 30px;
        height: 80px;
        background: var(--button-before-bg-color);
        transform: rotateZ(-30deg);
    }
}

@import "hgnulb/blog/overlay";
@import "hgnulb/blog/header";
@import "hgnulb/blog/footer";
@import "hgnulb/blog/content";
@import "hgnulb/blog/responsive";