@import "hgnulb/common/variables";
@import "hgnulb/common/normalize";
@import "hgnulb/common/animate";
@import "hgnulb/common/fonts";
@import "hgnulb/common/helper";
@import "hgnulb/common/pace";
@import "hgnulb/common/social-icons";

body {
    overflow: hidden;
    font-family: var(--home-body-fonts);
    font-size: 1.125em;
    line-height: 2.25em;
    color: var(--text-color);
    cursor: url("#{$baseurl}/assets/images/theme/default.cur"), auto !important;
}

a {
    cursor: url("#{$baseurl}/assets/images/theme/pointer.cur"), auto !important;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
}

h2 {
    font-size: 2.225em;
    text-transform: capitalize;
}

h3 {
    font-size: 1.725em;
}

.typed-wrap {
    font-size: 1em;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: var(--typed-wrap-color);
    text-transform: uppercase;
}

.site-notice {
    top: 0;
    width: 100%;
    text-align: center;
    color: var(--site-notice-color);
    background: var(--site-notice-bg-color);
    box-shadow: 0 0 .24rem var(--site-notice-box-shadow-color);
    @include a-hover();
}

.section {
    text-align: center;
}

#universe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--universe-bg);
    z-index: -1;
}

.btn-light, .btn-dark {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--btn-border-color);
    outline: none;

    &:hover {
        border: 1px solid var(--text-color);
    }
}

.btn-dark {
    background-color: var(--btn-dark-bg-color) !important;

    &:hover, &:focus {
        background-color: var(--btn-light-bg-color) !important;
    }
}

.btn-light {
    background-color: var(--btn-light-bg-color) !important;

    &:hover, &:focus {
        background-color: var(--btn-dark-bg-color) !important;
    }
}

.btn-enter {
    padding: 4px 6px 0 4px;
}

.btn-continue {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    i {
        font-size: 3.5rem;
    }
}

.social-links {
    $icon-size: 64px;

    a {
        display: inline-block;
        width: $icon-size;
        height: $icon-size;
        margin: 18px;
        background-size: $icon-size $icon-size;
    }
}

@import "hgnulb/home/responsive";