<footer class="the-footer">
    <div class="unit-inner">
        <h4><a href="{{ site.baseurl }}/">{{ site.data.i18n[site.lang].about }}</a></h4>
        <p>Copyright ©2017-{{ site.time | date: '%Y' }} {{ site.title }} All rights reserved</p>
        <p id="sitetime"></p>
        {% if site.busuanzi.enabled %}
        <p>
            {% if site.busuanzi.page_pv %}<span id="busuanzi_container_page_pv">{{ site.busuanzi.page_pv_header }}&nbsp;<span id="busuanzi_value_page_pv"></span>&nbsp;{{ site.busuanzi.page_pv_footer }}</span>{% endif %}
            {% if site.busuanzi.site_pv %}<span id="busuanzi_container_site_pv">{{ site.busuanzi.site_pv_header }}&nbsp;<span id="busuanzi_value_site_pv"></span>&nbsp;{{ site.busuanzi.site_pv_footer }}</span>{% endif %}
            {% if site.busuanzi.site_uv %}<span id="busuanzi_container_site_uv">{{ site.busuanzi.site_uv_header }}&nbsp;<span id="busuanzi_value_site_uv"></span>&nbsp;{{ site.busuanzi.site_uv_footer }}</span>{% endif %}
        </p>
        {% endif %}
    </div>
    <div class="social-links">
        {% if site.author.email %}<a class="ico-gmail" data-tippy-content="email" href="mailto:{{ site.author.email }}" rel="me" target="_blank"></a>{% endif %}{% for social_link in site.author.social_links %}
        {% if social_link.enabled and social_link.name and social_link.url %}<a class="ico-{{ social_link.name }}" data-tippy-content="{{ social_link.name }}" href="{{ social_link.url }}" rel="me" target="_blank"></a>{% endif %}{% endfor %}
    </div>
    <button class="back-to-top"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></button>
</footer>