<header class="the-header">
    <div class="unit-head">
        <nav class="nav-global animate__animated animate__headShake">
            <ul>
                <li class="logo">
                    <button class="btn-menu" data-tippy-content="{{ site.data.i18n[site.lang].menu }}"><i class="fas fa-bars"></i></button>
                    <a href="{{ site.paths.blog | relative_url }}">{{ site.title }}</a>
                    <!--[if !IE]>-->
                    <button class="btn-search" data-tippy-content="{{ site.data.i18n[site.lang].search }}"><i class="fas fa-search"></i></button>
                    <!--<![endif]-->
                </li>
                <li><a class="theme-mode"><i class="fa-solid fa-toggle-off"></i></a></li>
                <li><a class="btn-contents hidden"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                <li><a href="{{ site.paths.categories | relative_url }}"><i class="fa-solid fa-bug"></i></a></li>
                <li><a href="{{ site.paths.tags | relative_url }}"><i class="fa-regular fa-bookmark"></i></a></li>
                <!--[if !IE]>-->
                <li><a class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <!--<![endif]-->
            </ul>
        </nav>
    </div>
</header>