<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ site.lang }}">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="{{ site.lang }}">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="{{ site.lang }}">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/libs/stylesheets/blog.css' rel="stylesheet" type="text/css">
    <title>{{ page.title }}</title>
    {% include common/libraries.html %}
</head>

<body>
<canvas id="universe"></canvas>
{% include common/notices.html %}

{% include blog/overlay.html %}
<div class="sidebar animate__animated animate__bounceInLeft">
    <div class="sidebar-toc">
        <div class="sidebar-toc-title">{{ site.data.i18n[site.lang].toc }}</div>
        <ul id="sidebar-toc-content"></ul>
    </div>
</div>
<div id="page">
    {% include blog/header.html %}
    <div class="body animate__animated animate__bounceInLeft" role="main">
        <div class="unit-body">
            <div class="unit-inner">

                <!--page start-->
                {{ content }}
                <!--page end-->

            </div>
        </div>
    </div>
    {% include blog/footer.html %}
</div>

{% include blog/scripts.html %}
</body>
</html>